<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs')  %>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="container">
    <ul class="collection with-header">

      <% if (items.length > 0) { %>

      <% items.forEach(item => { %>
      <li class="collection-item">
        <div><a href="/items/<%= item._id%>"><%= item.name %> ₹<%= item.price %></a><a href="/delete-item/<%=item._id%>"
            class="secondary-content"><i class="material-icons">delete</i></a><a href="#edit-modal"
            class="material-icons modal-trigger secondary-content"><i class="material-icons">edit</i></a></div>
      </li>
      <%});%>

      <% } else {%>
      <p>There are no items</p>
      <%}%>
     
    </ul>
  </div>
  <div id="edit-modal" class="modal">
    <div class="modal-content">
      <h4>Edit Form</h4>
      <form id="edit_form" action="">
        <input type="text" name="name" placeholder="Item Name">
        <input type="number" name="price" placeholder="Item Price">
        <button class="btn">Update</button>
      </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.modal');
      console.log(elems);
      var instances = M.Modal.init(elems);
    });
  </script>
</body>

</html>